<h1> <%= @exercise.name %> </h1>
Muscle Group:  <%=@exercise.muscle_group%>  
<br>Time:  <%=@exercise.length_of_time%>
<br>Weight:  <%=@exercise.weight%>
<br>Sets:  <%=@exercise.sets%>
<br>Reps:  <%=@exercise.reps%>
<br>Notes:  <%=@exercise.notes%>
<br>
<a href='/exercises/<%=@exercise.id%>/edit'>Edit</a>
<br>
<a href='/exercises'>Back to exercises</a>

<form action="/exercises/<%=@exercise.id%>" method="post">
  <input id="hidden" type="hidden" name="_method" value="delete">
  <input type="submit" value="delete">
</form>